.transaction-row-buy {
    background: lightgray;
}

.transaction-row-sell .transaction-cell-profit {
    background: lightgreen;
}

.transaction-row-sell .transaction-cell-loss {
    background: lightcoral;
}

.transaction-details-block {
    display: none;
}

.transaction-cell:hover + .transaction-details-block {
    display: block;
}