<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transactions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/css/transaction-style.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<table class="table">
    <tr>
        <th>Date</th>
        <th>Profit</th>
        <th>Volume</th>
        <th>Profit %</th>
    </tr>
    <tr th:each="item : ${list}" class="transaction-row">
        <td><a th:href="@{'/transactions?typeName='+ ${item[0]}}" th:text="${item[0]}"></a></td>
        <td th:text="${#numbers.formatDecimal(item[1], 0, 'COMMA', 2, 'POINT')}">-</td>
        <td th:text="${#numbers.formatDecimal(item[2], 0, 'COMMA', 2, 'POINT')}">-</td>
        <td th:text="${#numbers.formatDecimal(item[1] / item[2] * 100, 0, 'COMMA', 2, 'POINT')}">-</td>
    </tr>
</table>
</body>
</html>