<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<table>
    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Sell price</th>
        <th>Buy price</th>
        <th>Fees price</th>
        <th>Buy/Sell</th>
        <th>Client</th>
    </tr>
    <tr th:each="item : ${list}">
        <td th:text="${item.transactionDate}">-</td>
        <td th:text="${item.typeName}">-</td>
        <td th:text="${item.quantity}">-</td>
        <td th:text="${item.price}">-</td>
        <td th:text="${item.price*item.quantity}">-</td>
        <td th:text="${item.buyPrice}">-</td>
        <td th:text="${item.brokerFee + item.transactionTax}">-</td>
        <td th:text="${item.transactionType}">-</td>
        <td th:text="${item.clientName}">-</td>
    </tr>
</table>
</body>
</html>