<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<table>
    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>TypeID</th>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
        <th>Balance</th>
        <th>Argname1</th>
    </tr>
    <tr th:each="apiJournalEntry : ${apiJournalEntries}">
        <td th:text="${apiJournalEntry.date}">-</td>
        <td th:text="${apiJournalEntry.refType}">-</td>
        <td th:text="${apiJournalEntry.refTypeID}">-</td>
        <td th:text="${apiJournalEntry.ownerName1}">-</td>
        <td th:text="${apiJournalEntry.ownerName2}">-</td>
        <td th:text="${apiJournalEntry.amount}">-</td>
        <td th:text="${apiJournalEntry.balance}">-</td>
        <td th:text="${apiJournalEntry.argName1}">-</td>
    </tr>
</table>
</body>
</html>